.body {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: auto;
  width: 300px;
  padding: 20px;
}

.with-traditional-fade-out {
  animation: fadeOut 2s ease-in-out;
  background-color: lightblue;
}

.with-omitted-from-keyframe {
  animation: fadeOutWithoutFrom 2s ease-in-out;
  background-color: lightgreen;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOutWithoutFrom {
  to {
    opacity: 0;
  }
}

/* ----------------------------------------------------- */

.with-traditional-fade-in {
  animation: fadeIn 2s ease-in-out;
  background-color: lightyellow;
}

.with-omitted-to-keyframe {
  animation: fadeInWithoutTo 2s ease-in-out;
  background-color: lightcoral;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInWithoutTo {
  from {
    opacity: 0;
  }
}

/* ----------------------------------------------------- */

.with-multiple-keyframes {
  animation: blinking 1s alternate infinite, fadeIn 5s;
  background-color: red;
  width: 150px;
  height: 150px;
}

@keyframes blinking {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* ----------------------------------------------------- */

.ball {
  --background: rgb(186, 186, 186);

  width: 100px;
  height: 100px;
  background-color: var(--background);
  border-radius: 50%;
  position: relative;
  animation: colorCycle 2s ease-in-out infinite;
}

.first-ball {
  --blinking-color: red;
}

.second-ball {
  --blinking-color: yellow;
}

.third-ball {
  --blinking-color: green;
}

@keyframes colorCycle {
  0% {
    background-color: var(--background);
  }
  50% {
    background-color: var(--blinking-color);
  }
  100% {
    background-color: var(--background);
  }
}
